.gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
  
.photo-column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    flex: warp;
}

.photo{
    transition: 0.5s;
    margin-top: 8px;
    width: 100%;
}
.photo:hover{
    transform: scale(2);
}

  
@media screen and (min-width: 0px) {
    .photo-column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  @media screen and (min-width: 600px) {
    .photo-column {
      flex: 33%;
      max-width: 33%;
    }
  }
  @media screen and (min-width: 1200px) {
    .photo-column {
      flex: 25%;
      max-width: 25%;
    }
  }